body {
    margin: 0;
    padding: 0;
    font-family: DroidSans, Arial, sans-serif;
    background-image: url('../img/content-bg.png');
    font-size: 12px;
}

.BlackJack { 
	font-family: BlackJack;
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'DroidSans';
    src: url('fonts/DroidSans.ttf') format('truetype');
}
@font-face {
    font-family: 'DroidSans-Bold';
    src: url('fonts/DroidSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'ColabReg';
    src: url('fonts/ColabReg.otf') format('opentype');
}

a { text-decoration: none; color: #ffffff; }
a:hover { text-decoration: none; }
.clear { clear: both; }
.ui-tabs-hide { display: none; }
br.clear { margin: 0; padding: 0; }

h1, h2, h3, h4, h5, h6 { padding-bottom: 5px; color: #111; letter-spacing: -1px; line-height: 1em; font-weight: normal; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: #111; }
h1 { font-size: 30px; }
h2 { font-size: 24px; }
h3 { font-size: 22px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }
p { padding-bottom: 10px; line-height: 18px; }
strong { font-weight: bold; color: #1c1c1c; }
cite, em, i { font-style: italic; }
pre, code { monospace; margin-bottom: 10px; }
ins { text-decoration: none; }
sup, sub { height: 0; line-height: 1; position: relative; vertical-align: baseline; }
sup { bottom: 0.8em; }
sub { top: 0.3em; }
dl { margin: 0 0 1.5em 0; }
dl dt { font-weight: bold; }
dd  { margin-left: 1.5em;}
blockquote  { margin: 1.5em; padding: 1em; color: #666666; background: #e6e6e6; font-style: italic; border: 1px solid #dcdcdc; }
blockquote p { padding-bottom: 0px; }

.main-header {
    background: #11161c; /* Old browsers */
    background: -moz-linear-gradient(left,  #11161c 0, #282f36 51%, #11161c 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #11161c 0,#282f36 51%,#11161c 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #11161c 0,#282f36 51%,#11161c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#main-header {
    font-family: BlackJack;
    text-shadow: 0 2px 1px black;
    height: 100px;
    padding-top: 40px

}
    #main-header a {
        color: #d6d6d6;
        text-decoration: none;
    }

.container {
    max-width: 960px;
}

.navbar-default-header {
    background-image: -webkit-linear-gradient(#3e4852, #353e48 60%, #323b44);
    background-image: -o-linear-gradient(#3e4852, #353e48 60%, #323b44);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#3e4852), color-stop(60%, #353e48), to(#323b44));
    background-image: linear-gradient(#3e4852, #353e48 60%, #323b44);
    background-repeat: no-repeat;
    border: none;
    border-radius: 10px;
}

.navbar-default-footer {
    background: none;
    border: none;
    margin-bottom: 0;
}
.navbar-default-footer div ul li a {
    color: white;
}

.navbar-default .navbar-nav > li > a  {
    color: white;
    text-shadow: 0 2px 1px black;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #8d96a0;
    text-shadow: 0 2px 1px black;
    font-style: italic;
}
.navbar-default .navbar-nav > li > a:focus {
    color: #8d96a0;
    text-shadow: 0 2px 1px black;
    font-style: italic;
}

.navbar-collapse {
    padding: 0 5px;
}

.social-icon-img, .social-icon-link  {
    display: inline !important;
    margin: 0;
    padding: 0 !important;
}
.social-icon-ul {
    margin-top: 15px;
    margin-left: 2px;
    margin-right: 15px;
}

.page-title {
    background: #11161c; /* Old browsers */
    background: -moz-linear-gradient(left,  #11161c 0, #282f36 51%, #11161c 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #11161c 0,#282f36 51%,#11161c 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #11161c 0,#282f36 51%,#11161c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    border-bottom: 1px solid #ffffff;
    -webkit-box-shadow: 0 7px 11px -4px rgba(0,0,0,0.7);
    -moz-box-shadow: 0 7px 11px -4px rgba(0,0,0,0.7);
    box-shadow: 0 7px 11px -4px rgba(0,0,0,0.7);
}

.page-title h1 {
    color: #ffffff;
}

.container-form {
    margin-top: 50px;
    width: 50%;
}

.colaborate-font {
    font-family: Colaborate;
    font-weight: lighter;
}

.book-container {
    padding: 0 20px;
}

.book-details-container {
    margin-top: 40px;
}



.img-thumbnail {
    max-height: 170px;
    border-radius: 0;
}

hr {
    margin-top: 0;  
    margin-bottom: 10px;
    max-width: 80%;
}

.btn-custom {
    background-image: -webkit-linear-gradient(#3e4852, #353e48 60%, #323b44);
    background-image: -o-linear-gradient(#3e4852, #353e48 60%, #323b44);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#3e4852), color-stop(60%, #353e48), to(#323b44));
    background-image: linear-gradient(#3e4852, #353e48 60%, #323b44);
    background-repeat: no-repeat;
    border: none;
    border-radius: 10px;
    color: white;
    margin-top: 15px;
}

.btn-custom:hover {
    color: #8d96a0;
}

.right-widget {
    margin: 0;
}

.right-widget div {
    background-image: -webkit-linear-gradient(#ffffff,  #f7f7f7);
    background-image: -o-linear-gradient(#ffffff, , #f7f7f7);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f7f7f7));
    background-image: linear-gradient(#ffffff, #f7f7f7);
}

.right-widget > div {
    border: 1px solid #c5c5c5;
    padding: 30px;
    border-radius: 10px;
}

.right-widget > div >p {
    color: #5e5e5e;
}

/* footer styles */

.main-footer {
    margin-top: 50px;
    background: #11161c; /* Old browsers */
    background: -moz-linear-gradient(left,  #11161c 0, #282f36 51%, #11161c 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #11161c 0,#282f36 51%,#11161c 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #11161c 0,#282f36 51%,#11161c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    color: #8b949d;
    
}
.left-footer-widget {
    padding-right: 60px;
}

.center-footer-widget {
    padding: 0 30px;
}

.right-footer-widget {
    padding-left: 60px;
}

/* book styles */

h3 a {
    color: #ffffff;
}

h3 a:hover {
    color: #8d96a0;
    text-decoration: none;
}

.book-details {
    margin: 20px auto;
}

.book-description {
    display: block;
    height: 170px;
    overflow: hidden;     
    padding: 5px;
}


/* rotator styles */

.rotator-container {
    text-align: center;
    background: #11161c; /* Old browsers */
    background: -moz-linear-gradient(left,  #11161c 0, #282f36 51%, #11161c 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #11161c 0,#282f36 51%,#11161c 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #11161c 0,#282f36 51%,#11161c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    overflow: hidden;
}

.rotator-wrapper {
    width: 442px;
    display: inline-block;
    position: relative;
    margin: 100px 0;
}

.rotator {
    height: 149px;
    overflow: visible;
    white-space: nowrap;
    left: calc(-300% - 5px);
    position: relative;
    width: 700%;
}

.rotator > img {
    height: 100%;
    margin-left: 10px;
    opacity: .2;
}

.rotator > img:nth-child(4) {
    opacity: 1;
    transform: scale(1.5);
    box-shadow: 0 0 20px #000, 0 0 4px #000;
}

html .rotator-wrapper .carousel-control {
    background: none;
}

.rotator-wrapper .carousel-control.left {
    left: -3px;
    top: -25%;
    height: 150%;
}

.rotator-wrapper .carousel-control.right {
    right: -3px;
    top: -25%;
    height: 150%;
}

.rotator.rotate-left,
.rotator.rotate-right {
    transition: left .3s ease-out;
}

.rotator.rotate-left img:nth-child(4),
.rotator.rotate-right img:nth-child(4) {
    transform: scale(1);
    opacity: .2;
    transition: all .3s ease-out;
    box-shadow: none;
}

.rotator.rotate-left img:nth-child(5),
.rotator.rotate-right img:nth-child(3) {
    transform: scale(1.5);
    opacity: 1;
    transition: all .3s ease-out;
    box-shadow: 0 0 20px #000, 0 0 4px #000;
}

.rotator.rotate-left {
    left: -371%;
}

.rotator.rotate-right {
    left: -231%;
}

.zoom-icon {
    background: url('../img/featured-zoom.png') no-repeat;
    position: absolute;
    display: none;
    width: 50px;
    height: 50px;
    left: 44%;
    top: 38%
}

/* home page styles */

.home-container {
    margin-top: 20px;
}

.home-icon-img {
    display: block;
    margin-top: 20px;
}

.home-article-text {
    margin-left: 55px;
    height: 200px;
    overflow: hidden;
}



.btn-read-more-home {
    background-image: -webkit-linear-gradient(#ffffff, #ffffff 70%, #f7f7f7);
    background-image: -o-linear-gradient(#ffffff, #ffffff 70%, #f7f7f7);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(70%, #ffffff), to(#f7f7f7));
    background-image: linear-gradient(#ffffff, #ffffff 70%, #f7f7f7);
    border-radius: 10px;
    color: #11161c;
    margin-top: 15px;
    text-decoration: none;
    border: 1px solid #ffffff;
}
.btn-read-more-home:focus {
    text-decoration: none;
}

.home-middle-title-container {
    background-image: -webkit-linear-gradient(#ffffff, #f7f7f7);
    background-image: -o-linear-gradient(#ffffff,, #f7f7f7);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f7f7f7));
    background-image: linear-gradient(#ffffff, #f7f7f7);
    padding: 50px;
    margin: 50px 0;
}
.home-middle-title {
    text-align: center;
    max-width: 960px;
    margin: 0 auto;
}
.quote-icon-container {
    position: relative;
}

#quote-icon {
    display: block;
    position: absolute;
    left: 49%;
    top: 35px;
    background: url('../img/quote-icon.png') no-repeat;
    width: 28px;
    height: 28px;
}
.aditional-info-button-container {
    position: relative;
}

#aditional-info-button {
    display: block;
    padding-left: 23px;
    padding-right: 12px;
    height: 38px;
    padding-top: 12px;
    position: absolute;
    left: 43%;
    top: -100px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}


.project {
    margin: 15px 0;
    position: relative;
}

.project-more-icon, .project-zoom-icon {
    display: block;
    opacity: 0;
    position: absolute;
    width: 50px;
    height: 50px;
}

.project-more-icon {
    background: url('../img/more-icon.png') no-repeat;
    left: 36%;
    top: 32%;
}

.project-zoom-icon {
    background: url('../img/zoom-icon.png') no-repeat;
    left: 53%;
    top: 32%;
}

.project:hover .project-zoom-icon {
    opacity: 1;
}
.project:hover .project-more-icon {
    opacity: 1;
}

.project:hover {
    opacity: 0.7;
}

.comment-container {
    background-image: -webkit-linear-gradient(#ffffff,  #f7f7f7);
    background-image: -o-linear-gradient(#ffffff, , #f7f7f7);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f7f7f7));
    background-image: linear-gradient(#ffffff, #f7f7f7);
    border: 1px solid #c5c5c5;
    border-radius: 10px;
}
.comments-container {
    margin-top: 20px;
    margin-left: -30px;
}