<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h1 class="colaborate-font">All Books</h1>
        </div>
        <div class="col-md-2 pull-right">
            <a href="/books/add" ng-show="vm.identity.isAuthenticated()" class="btn btn-lg btn-custom">Add new book</a>
        </div>
    </div>
    
    <div class="row">
        <div class="book-container">
            <div class="row" ng-repeat="book in vm.Books">
                <h1 class="colaborate-font">{{book.Title}}</h1>
                <hr/>
                <div>
                    <p class="colaborate-font">by <i>{{book.Author}}</i>, Category: {{book.Category}}, Added: {{book.AddedOn}}, Owner: {{book.Owner}}
                    </p>
                </div>
                <div class="col-md-3">
                    <img src="{{book.BookImageUrl}}" alt="{{book.Title}}" class="img-thumbnail"/>
                </div>
                <div class="col-md-9">
                    <p>{{book.Description}}</p>
                </div>
                <div class="pull-right">
                    <a href="/books/{{book.Id}}" class="btn btn-sm btn-custom">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>

