<div class="main-main-header rotator-container">
    <div class="rotator-wrapper">

        <!-- Wrapper for slides -->
        <div class="rotator">
            <img src="/img/Bookstore.jpg" alt="...">
            <img src="/img/Bookstore1.jpg" alt="...">
            <img src="/img/Bookstore2.jpg" alt="...">
            <img src="/img/Bookstore3.jpg" alt="...">
            <img src="/img/Bookstore4.jpg" alt="...">
            <img src="/img/Bookstore5.jpg" alt="...">
            <img src="/img/Bookstore6.jpg" alt="...">
        </div>

        <div>
            <a class="left carousel-control">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a href="#">
                <span class="zoom-icon"> </span>
            </a>
            <a class="right carousel-control">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
<div class="page-title">
    <div class="container">
        <h1></h1>
    </div>
</div>

<div class="container">
    <div class="row home-container">
        <div class="col-md-4">
            <div class="row">
                <div class="col-sm-2">
                    <img class="home-icon-img" alt="" src="../../../img/icon-3.png"/>
                </div>
                <div class="col-sm-10">
                    <h2 class="colaborate-font">What We Offer</h2>
                </div>
            </div>
            <p class="home-article-text">Integer rutrum sem sed magna pulvinar consequat. Sed pharetra euismod faucibus. Praesent mattis dolor eu libero mattis, malesuada faucibus orci molestie. Mauris in commodo mauris. Suspendisse sit amet finibus libero, eu dapibus velit. Morbi est mauris, luctus ac nisi a, hendrerit consectetur diam. Quisque sodales sem pretium, faucibus lorem nec, tempus est. Vestibulum quis lectus erat. Ut pretium sem lectus, placerat ultricies ligula vehicula eget. Etiam auctor sollicitudin condimentum. Vestibulum pretium, quam euismod consectetur laoreet, metus dolor placerat nisi, in consectetur velit nisl id justo. Maecenas consectetur dolor at metus venenatis, nec condimentum lacus blandit. Nam scelerisque vestibulum risus, eu consequat purus bibendum nec. Sed elit elit, tincidunt sed dui quis, convallis viverra turpis. Phasellus volutpat id urna ac congue. Maecenas lobortis egestas ante, eget tempor libero ornare et.</p>
            <a class="btn-sm btn-read-more-home pull-right" href="#">Read more</a>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-sm-2">
                    <img class="home-icon-img" alt="" src="../../../img/icon-2.png"/>
                </div>
                <div class="col-sm-10">
                    <h2 class="colaborate-font">Who We Are</h2>
                </div>
            </div>
            <p class="home-article-text">Integer rutrum sem sed magna pulvinar consequat. Sed pharetra euismod faucibus. Praesent mattis dolor eu libero mattis, malesuada faucibus orci molestie. Mauris in commodo mauris. Suspendisse sit amet finibus libero, eu dapibus velit. Morbi est mauris, luctus ac nisi a, hendrerit consectetur diam. Quisque sodales sem pretium, faucibus lorem nec, tempus est. Vestibulum quis lectus erat. Ut pretium sem lectus, placerat ultricies ligula vehicula eget. Etiam auctor sollicitudin condimentum. Vestibulum pretium, quam euismod consectetur laoreet, metus dolor placerat nisi, in consectetur velit nisl id justo. Maecenas consectetur dolor at metus venenatis, nec condimentum lacus blandit. Nam scelerisque vestibulum risus, eu consequat purus bibendum nec. Sed elit elit, tincidunt sed dui quis, convallis viverra turpis. Phasellus volutpat id urna ac congue. Maecenas lobortis egestas ante, eget tempor libero ornare et.</p>
            <a class="btn-sm btn-read-more-home pull-right" href="#">Read more</a>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-sm-2">
                    <img class="home-icon-img" alt="" src="../../../img/icon-1.png"/>
                </div>
                <div class="col-sm-10">
                    <h2 class="colaborate-font">Who We Are</h2>
                </div>
            </div>
            <p class="home-article-text">Integer rutrum sem sed magna pulvinar consequat. Sed pharetra euismod faucibus. Praesent mattis dolor eu libero mattis, malesuada faucibus orci molestie. Mauris in commodo mauris. Suspendisse sit amet finibus libero, eu dapibus velit. Morbi est mauris, luctus ac nisi a, hendrerit consectetur diam. Quisque sodales sem pretium, faucibus lorem nec, tempus est. Vestibulum quis lectus erat. Ut pretium sem lectus, placerat ultricies ligula vehicula eget. Etiam auctor sollicitudin condimentum. Vestibulum pretium, quam euismod consectetur laoreet, metus dolor placerat nisi, in consectetur velit nisl id justo. Maecenas consectetur dolor at metus venenatis, nec condimentum lacus blandit. Nam scelerisque vestibulum risus, eu consequat purus bibendum nec. Sed elit elit, tincidunt sed dui quis, convallis viverra turpis. Phasellus volutpat id urna ac congue. Maecenas lobortis egestas ante, eget tempor libero ornare et.</p>
            <a class="btn-sm btn-read-more-home pull-right" href="#">Read more</a>
        </div>
    </div>
</div>
<div class="row quote-icon-container">
    <span id="quote-icon"></span>
</div>
<div class="row home-middle-title-container">
    <div class="col-md-12 text-center"></div>
    <h1 class="home-middle-title colaborate-font">Vivamus id feugiat ligula. Nulla facilisi. Integer lacus justo, elementum eget consequat a, molestie nec sapien. Quisque tincidunt, nunc vitae adipiscing vulputate</h1>
</div>
<div class="row aditional-info-button-container">
    <span id="aditional-info-button">
        <a href="#" class="btn btn-lg btn-custom">Aditional Info</a>
    </span>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-3 text-center project">
            <a href="#"><span class="project-more-icon"></span></a>
            <a href="#"><span class="project-zoom-icon"></span></a>
                <img class="img-thumbnail" src="/img/Bookstore.jpg" alt="" />
</div>
        <div class="col-sm-3 text-center project">
            <a href="#"><span class="project-more-icon"></span></a>
            <a href="#"><span class="project-zoom-icon"></span></a>
            <img class="img-thumbnail" src="/img/Bookstore1.jpg" alt="" />
        </div>
        <div class="col-sm-3 text-center project">
            <a href="#"><span class="project-more-icon"></span></a>
            <a href="#"><span class="project-zoom-icon"></span></a>
            <img class="img-thumbnail" src="/img/Bookstore2.jpg" alt="" />
        </div>
        <div class="col-sm-3 text-center project">
            <a href="#"><span class="project-more-icon"></span></a>
            <a href="#"><span class="project-zoom-icon"></span></a>
            <img class="img-thumbnail" src="/img/Bookstore3.jpg" alt="" />
        </div>
        <div class="col-sm-3 text-center project">
            <a href="#"><span class="project-more-icon"></span></a>
            <a href="#"><span class="project-zoom-icon"></span></a>
            <img class="img-thumbnail" src="/img/Bookstore4.jpg" alt="" />
        </div>
        <div class="col-sm-3 text-center project">
            <a href="#"><span class="project-more-icon"></span></a>
            <a href="#"><span class="project-zoom-icon"></span></a>
            <img class="img-thumbnail" src="/img/Bookstore5.jpg" alt="" />
        </div>
        <div class="col-sm-3 text-center project">
            <a href="#"><span class="project-more-icon"></span></a>
            <a href="#"><span class="project-zoom-icon"></span></a>
            <img class="img-thumbnail" src="/img/Bookstore6.jpg" alt="" />
        </div>
        <div class="col-sm-3 text-center project">
            <a href="#"><span class="project-more-icon"></span></a>
            <a href="#"><span class="project-zoom-icon"></span></a>
            <img class="img-thumbnail" src="/img/Bookstore7.jpg" alt="" />
        </div>
    </div>
</div>
