<div class="main-main-header rotator-container">
    <div class="rotator-wrapper">

        <!-- Wrapper for slides -->
        <div class="rotator">
            <img src="/img/Bookstore.jpg" alt="...">
            <img src="/img/Bookstore1.jpg" alt="...">
            <img src="/img/Bookstore2.jpg" alt="...">
            <img src="/img/Bookstore1.jpg" alt="...">
            <img src="/img/Bookstore2.jpg" alt="...">
            <img src="/img/Bookstore1.jpg" alt="...">
            <img src="/img/Bookstore2.jpg" alt="...">
        </div>

        <div>
            <a class="left carousel-control">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <!-- Controls -->
    </div>
</div>
